<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <style>
      html {
        touch-action: manipulation;
      }
      .is-center {
        text-align: center;
      }
      .is-vertical-center {
        display: flex;
        align-items: center;
      }
      .canvas-wrapper {
        position: relative;
        width: 160px;
        height: 720px;
        margin: auto;
      }
      .canvas-wrapper canvas {
        position: absolute;
        top: 0;
        left: 0;
      }
      .is-hide {
        display: none;
      }
    </style>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% seo %}
    <meta name="google-site-verification" content="RQYJAQf6uF3vi9UBFIQD6RwHULMrepWFIdvZ8loP98Q" />
    <meta name="msvalidate.01" content="EDA3D87587378806B700682F199251FC" />
  </head>
  <body>
    {{ content }}
  </body>
</html>